name: 0.1$(Rev:.r)

resources:
  - repo: self
    clean: true

trigger:
  - master

phases:

  - phase: Phase
    displayName: Agent
    queue:
      name: Private Linux

    steps:

      - task: NuGetToolInstaller@0
        displayName: 'Use NuGet tooling'

      - task: DotNetCoreCLI@2
        displayName: 'Build'
        inputs:
          projects: '**/*.csproj'
          arguments: '--configuration Release'

      - task: DotNetCoreCLI@2
        displayName: 'Run unit tests'
        inputs:
          command: test
          nobuild: true
          projects: '**/*.UnitTests.csproj'

      - task: DotNetCoreCLI@2
        displayName: 'dotnet pack'
        inputs:
          command: pack
          projects: '**/GherkinSpec.TestAdapter.csproj'
          configuration: Release
          nobuild: true
          versioningScheme: byBuildNumber
          verbosityPack: Normal
      
      - task: NuGetCommand@2
        displayName: 'NuGet push'
        inputs:
          command: push
          nuGetFeedType: external
          publishFeedCredentials: 'GivePenny Nuget'
          packagesToPush: '$(Build.ArtifactStagingDirectory)/**/GivePenny.GherkinSpec.TestAdapter.*.nupkg;!$(Build.ArtifactStagingDirectory)/**/*.symbols.nupkg'
          versioningScheme: byBuildNumber
          